</main>

<footer class="bg-rojo">
  <div class="container">
    <div class="row" style="padding-top: 1rem">
      <div class="col-md-3">
        <h4 class="text-center blanco">Nosotros</h4>
        <a
          href="https://inemtunja.edu.co/nosotros"
          style="text-decoration: none"
          ><p class="text-center blanco">Conócenos</p></a
        >
        <a
          href="https://inemtunja.edu.co/privacidad.php"
          style="text-decoration: none"
          ><p class="text-center blanco">Privacidad</p></a
        >
        <a
          href="https://inemtunja.edu.co/nosotros.php"
          style="text-decoration: none"
          ><p class="text-center blanco">Términos y Condiciones</p></a
        >
      </div>
      <div class="col-md-3">
        <h4 class="text-center blanco">Contacto</h4>
        <p class="text-center blanco">
          Carrera 15 # 9a - 72 Barrio Paraíso
        </p>
        <p class="text-center blanco">(8) 7 40 6392</p>
        <p class="text-center blanco">rectoria@inemtunja.edu.co</p>
      </div>
      <div class="col-md-3">
        <h4 class="text-center blanco">Síguenos</h4>
        <div class="row justify-content-center">
          <div class="col-md-2">
            <a
              class="navbar-brand"
              style="display: block; text-align: center"
              href="https://www.facebook.com/INEMTunjaOficial/"
              target="_blank"
              ><img
                src="https://inemtunja.edu.co/img/Faceb_White_30x30.png"
                width="30"
                height="30"
                alt=""
            /></a>
          </div>
          <div class="col-md-2">
            <a
              class="navbar-brand"
              style="display: block; text-align: center"
              href="https://www.instagram.com/inemvirtualradio2016/?hl=es-la"
              target="_blank"
              ><img
                src="https://inemtunja.edu.co/img/Insta_White_30x30.png"
                width="30"
                height="30"
                alt=""
            /></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <p class="text-center blanco">Todos los Derechos Reservados 2024</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
